= "Hi #{@user.fullname},"
= nil
You've been successfully registered on raddme. You can access your radd.me account by logging in at http://www.radd.me using the following credentials:
= nil
= "Login: #{@user.email}"
= nil
= "Password: #{@password}"
= nil
Now go out there and be somebody!