= "Hi #{@user.fullname},"
= nil
You've been successfully registered on raddme. 
= nil
To swap contacts, just reply to this email with a list of your new friends' 5 digit unique codes, 
separated by commas (e.g. "52255, 65333, 23155") and you'll be proper sorted!
= nil
= nil
You can access your radd.me account by logging in at http://raddme2.herokuapp.com/ using the following credentials:
= nil
= "Login: #{@user.email}"
= nil
= "Password: #{@password}"
= nil